<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Missão</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad-alt wow bounceIn text-primary"></i>
                    <h3>Videojogos</h3>
                    <p class="text-muted">Desde torneios, gamejams ou simplesmente diversão</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Programação e Electrónica</h3>
                    <p class="text-muted">Workshops e cenas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cookie-bite wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Pastelaria</h3>
                    <p class="text-muted">Workshops e cenas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Novidades</h3>
                    <p class="text-muted">Notícias e anúncios dos nossos eventos</p>
                </div>
            </div>
        </div>
    </div>
</section>
